{% load static %}
<link rel="stylesheet" href="/static/login.css">
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form method="POST" name="form2" action="/admin/login" class="box" onsubmit="">
      {% csrf_token %}
      
    </ul>
      <h4>Admin<span>Dashboard</span></h4>
      <h5>Congratulations</h5>
        {% comment %} <input type="text" name="email" id="email" placeholder="enter your Email" autocomplete="off"> {% endcomment %}
        <h4>Your password has been set. You may go ahead and log in now.</h4>
        <input type="submit" value="Login Now" class="btn1">
      </form>
      
  </div> 
       
</div>
{% load static %}
<link rel="stylesheet" href="/static/login.css">
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form method="POST" name="form2" class="box" onsubmit="">
      {% csrf_token %}
      <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
      <h4>Admin<span>Dashboard</span></h4>
      <h5>Reset your password</h5>
        {% comment %} <input type="text" name="email" id="email" placeholder="enter your Email" autocomplete="off"> {% endcomment %}
        <h4>Your password has been set. You may go ahead and log in now.</h4></form>
        <a href="/static/login.css">sign in</a>
  </div> 

</div>
