{% load static %}
<link rel="stylesheet" href="/static/login.css">
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form method="POST" name="form2" class="box" onsubmit="">
      {% csrf_token %}
      <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
      <h4>Admin<span>Dashboard</span></h4>
      <h5>Reset your password</h5>
        {% comment %} <input type="text" name="email" id="email" placeholder="enter your Email" autocomplete="off"> {% endcomment %}
        <h4>Password Reset link has been sent successfully to your registered email id , open the link and follow the steps to reset your password</h4>
      </form>
      
  </div> 
  
</div>
