{% load static %}
<link rel="stylesheet" href="/static/login.css">
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form method="POST" name="form2" class="box" action="" onsubmit="">
      {% csrf_token %}
      <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
      <h4>Admin<span>Dashboard</span></h4>
      <h5>Reset your password</h5>
        {% comment %} <input type="text" name="email" id="email" placeholder="enter your Email" autocomplete="off"> {% endcomment %}
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="new_password1" id="id_new_password1" placeholder="Passsword"  autocomplete="off">
        <input type="password" name="new_password2" id="id_new_password2" placeholder="Renter Passsword"  autocomplete="off">
       
        
        <input type="submit" value="Reset Password" class="btn1">
      </form>
      
  </div> 
       
</div>
