{% extends 'shop/basic.html' %}
{% block title%} AvantiKart{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Enter your Order Id and Email address to track your order</h2>
        <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Order Id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                </div>
                <div class="form-group col-md-6">
                    <label for="name">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Your Email">
                    
                </div>
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
    </div>
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
                Enter your order Id and Email and click Track Order to find details about your order!
            </ul>
        </div>
        <h2>Your Order Details</h2>
        <div class="my-4">
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
jQuery_3_6_3('#trackerForm').submit(function(event) {
    jQuery_3_6_3('#items').empty();
    var formData = {
        'orderId': jQuery_3_6_3('input[name=orderId]').val(),
        'Email': jQuery_3_6_3('input[name=Email]').val(),
        'csrfmiddlewaretoken': jQuery_3_6_3('input[name=csrfmiddlewaretoken]').val()
    };
    jQuery_3_6_3.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            jQuery_3_6_3('#citems').empty();
            data = JSON.parse(data);
            if (data['status'] == 'success') {
                updates = data['updates'];
                
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    console.log(text)
                    console.log(time)
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                    jQuery_3_6_3('#items').append(mystr);
                }
                // Fill in the order details
                pcart = JSON.parse(data['itemsJson']);
                for (item in pcart) {
                    let name = pcart[item][1];
                    let qty = pcart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
                    jQuery_3_6_3('#citems').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                jQuery_3_6_3('#items').append(mystr);
                jQuery_3_6_3('#citems').append(mystr);
            }
        });
    event.preventDefault();
});
</script>

<script>
    var sum = 0;
    var totalPrice = 0;
    if (localStorage.getItem('cart')==null){
      var cart ={};

    }
    else{
      cart= JSON.parse(localStorage.getItem('cart'));
      for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        let itemPrice = cart[item][2];
        sum = sum + qty;
        totalPrice = totalPrice + qty * itemPrice;
        {% comment %} mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    jQuery_3_6_3{name}
                    <span class="badge badge-primary badge-pill">jQuery_3_6_3{qty}</span>
                </li>`
        jQuery_3_6_3('#items').append(mystr); {% endcomment %}
    }
    document.getElementById('cart').innerHTML = sum;
    }
</script>
{% endblock %}

